[General]
Small_Spacings=true
Lines_Size=1
Update_Interval=10
Preferred_Width=1073
Preferred_Height=703
Number_Chips=5

[Chip0]
Name=coretemp-0
Number=0

[Chip0_Feature0]
Address=0
Name=Package id 0
Color=#cdcbd4
Show=true
Min=0
Max=44

[Chip1]
Name=acpitz-0
Number=1

[Chip2]
Name=amdgpu-300
Number=2

[Chip2_Feature1]
Address=1
Name=fan1
Color=#cdcbd4
Show=true
Min=0
Max=3500

[Chip2_Feature2]
Address=2
Name=gpu-edge
Color=#cdcbd4
Show=true
Min=0
Max=47

[Chip2_Feature4]
Address=4
Name=gpu-mem
Color=#cdcbd4
Show=true
Min=0
Max=48

[Chip3]
Name=nvme-500
Number=3

[Chip3_Feature0]
Address=0
Name=nvme-Composite
Color=#cdcbd4
Show=true
Min=45.849998474121094
Max=45.849998474121094

[Chip4]
Name=ACPI
Number=4

