[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/omonk/Desktop/calibre-gui.desktop]
row=1
col=1

[/home/omonk/Desktop/giffgaff身份识别.txt]
row=1
col=3

[/home/omonk/Desktop/wps-office-prometheus.desktop]
row=0
col=8

[/home/omonk/Desktop/场地自行车中长队名单.xlsx]
row=0
col=9

[/home/omonk/Desktop/公路招聘简历]
row=0
col=12

[/home/omonk/Desktop/synaptic.desktop]
row=0
col=6

[/home/omonk/Desktop/com.tencent.WeChat.desktop]
row=1
col=7

[/home/omonk/Desktop/obsidian]
row=0
col=5

[/home/omonk/Desktop/wallpaper]
row=0
col=10

[/home/omonk/Desktop/济南市人力资源和社会保障局 重点 关于济南考点2025年度卫生专业技术资格考试考务工作有关问题的通知.pdf]
row=0
col=7

[/home/omonk/Desktop/工作资料]
row=1
col=8

[/home/omonk/Desktop/net.ankiweb.Anki.desktop]
row=1
col=4

[/home/omonk/Desktop/体检表.doc]
row=1
col=9

[/home/omonk/Desktop/历城区关于做好2025年度有关卫生技术人员继续医学教育任期考核工作的通知.docx]
row=1
col=2

[/home/omonk/Desktop/ryujinx.desktop]
row=1
col=10

[/home/omonk/Desktop/照片]
row=1
col=11

[/home/omonk/Desktop/config.json]
row=1
col=0

[/home/omonk/Desktop/FoxitReader.desktop]
row=1
col=6

[/home/omonk/Desktop/x-ui.md]
row=1
col=5

[/home/omonk/Desktop/场地自行车中长队查血名单 .xlsx]
row=0
col=11

[/home/omonk/Desktop/FBReader_Book_Reader-x86_64-2.1.3.AppImage]
row=0
col=13

[01DB4331FCCD40D0]
row=0
col=0

[44D050C3D050BD3C]
row=0
col=1

[回收站]
row=0
col=2

[/]
row=0
col=3

[/home/omonk]
row=0
col=4

