[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/omonk/Desktop/wallpaper]
row=0
col=5

[/home/omonk/Desktop/wps-office-wps.desktop]
row=0
col=9

[/home/omonk/Desktop/wps-office-et.desktop]
row=0
col=7

[/home/omonk/Desktop/工作资料]
row=0
col=11

[/home/omonk/Desktop/wps-office-pdf.desktop]
row=0
col=6

[/home/omonk/Desktop/wps-office-wpp.desktop]
row=0
col=8

[BC8034DF8034A1B6]
row=0
col=4

[11C7-01D1]
row=0
col=10

[44D050C3D050BD3C]
row=0
col=3

[回收站]
row=0
col=0

[/]
row=0
col=1

[/home/omonk]
row=0
col=2

