[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/omonk/Desktop/wallpaper]
row=0
col=5

[BC8034DF8034A1B6]
row=0
col=4

[44D050C3D050BD3C]
row=0
col=3

[/home/omonk]
row=0
col=2

[/]
row=0
col=1

[回收站]
row=0
col=0

