[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/omonk/Desktop/wps-office-wpp.desktop]
row=1
col=3

[/home/omonk/Desktop/wps-office-et.desktop]
row=1
col=4

[/home/omonk/Desktop/电动车辆信息登记表.docx]
row=1
col=5

[/home/omonk/Desktop/wps-office-pdf.desktop]
row=1
col=6

[/home/omonk/Desktop/FoxitReader.desktop]
row=0
col=6

[/home/omonk/Desktop/wps-office-wps.desktop]
row=1
col=2

[/home/omonk/Desktop/com.tencent.WeChat.desktop]
row=1
col=0

[/home/omonk/Desktop/wallpaper]
row=2
col=0

[/home/omonk/Desktop/1.md]
row=0
col=5

[/home/omonk/Desktop/工作资料]
row=1
col=1

[/home/omonk/Desktop/net.ankiweb.Anki.desktop]
row=2
col=1

[01DB4331FCCD40D0]
row=0
col=0

[44D050C3D050BD3C]
row=0
col=1

[回收站]
row=0
col=2

[/]
row=0
col=3

[/home/omonk]
row=0
col=4

