[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/omonk/Desktop/wps-office-wpp.desktop]
row=0
col=9

[/home/omonk/Desktop/wps-office-et.desktop]
row=0
col=10

[/home/omonk/Desktop/山东省射击自行车运动管理中心.xlsx]
row=1
col=4

[/home/omonk/Desktop/wps-office-pdf.desktop]
row=0
col=11

[/home/omonk/Desktop/FoxitReader.desktop]
row=0
col=5

[/home/omonk/Desktop/公路招聘简历]
row=1
col=2

[/home/omonk/Desktop/wps-office-wps.desktop]
row=0
col=8

[/home/omonk/Desktop/1.rar]
row=0
col=13

[/home/omonk/Desktop/com.tencent.WeChat.desktop]
row=0
col=6

[/home/omonk/Desktop/李越宏痛风诊疗方案.docx]
row=0
col=12

[/home/omonk/Desktop/wallpaper]
row=1
col=0

[/home/omonk/Desktop/工作资料]
row=0
col=7

[/home/omonk/Desktop/射自中心优秀自行车运动员伤病情况.xlsx]
row=1
col=3

[/home/omonk/Desktop/net.ankiweb.Anki.desktop]
row=1
col=1

[44D050C3D050BD3C]
row=0
col=1

[01DB4331FCCD40D0]
row=0
col=0

[回收站]
row=0
col=2

[/]
row=0
col=3

[/home/omonk]
row=0
col=4

