[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/omonk/Desktop/wps-office-et.desktop]
row=0
col=7

[/home/omonk/Desktop/wps-office-wpp.desktop]
row=0
col=8

[/home/omonk/Desktop/ryujinx.desktop]
row=0
col=12

[/home/omonk/Desktop/obsidian]
row=0
col=10

[/home/omonk/Desktop/wps-office-pdf.desktop]
row=0
col=6

[/home/omonk/Desktop/FoxitReader.desktop]
row=0
col=15

[/home/omonk/Desktop/Discord.desktop]
row=0
col=11

[/home/omonk/Desktop/wps-office-wps.desktop]
row=0
col=9

[/home/omonk/Desktop/linuxmint桌面备份]
row=1
col=4

[/home/omonk/Desktop/FBreader.desktop]
row=1
col=0

[/home/omonk/Desktop/synaptic.desktop]
row=0
col=13

[/home/omonk/Desktop/net.ankiweb.Anki.desktop]
row=1
col=1

[/home/omonk/Desktop/calibre-gui.desktop]
row=1
col=2

[01DB4331FCCD40D0]
row=0
col=4

[44D050C3D050BD3C]
row=0
col=3

[回收站]
row=0
col=0

[/]
row=0
col=1

[/home/omonk]
row=0
col=2

